* {
  padding: 0;
  margin: 0;

}

body {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 10000px; 
  width: 100vw;
}

.scroll {
  display: flex;
  width: 40vw;
  height: 20vh;
  position: relative;
  left: 30vw;
  top: -17vh;
}

a {
  color: white;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0.5vw;
  position: absolute;
}

::-webkit-scrollbar-track {
  margin-bottom: -1vh;
  box-shadow: inset 0 0 20px 20px rgb(74, 74, 255);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(242, 255, 140);
  box-shadow: 0px 0px 3px 3px yellow;
  border-radius: 3px;
  cursor: pointer;
  height: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d7fb23;
}

.header {
  width: 100vw;
  height: 10vh;
  background-color: transparent;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 1;
  transition: 0.2s;
  border-bottom: #ffffff49 solid 1px;
}

.logo {
  margin-left: 15vw;
  width: 15vw;
  height: 9vw;
  position: relative;
  top: -7.1vh;
}

.HButtons {
  display: flex;
  justify-content: space-around;
  position: relative;
  margin-left: 22vw;
  width: 41vw;
}

.headerButton {
  cursor: pointer;
  position: relative;
  top: 0vh;
  color: white;
  height: 11vh;
  width: max-content;
  display: flex;
  align-items: center;
  font-size: 2.7vmin;
  font-family: 'Poppins';
  white-space: nowrap;
  transition: 0.3s;
  user-select: none;
}

.headerButton:hover {
  user-select: none;
}

.headerButton::after {
  content: "";
  position: absolute;
  top: 7.9vh;
  height: 2px;
  width: 100%;
  left: 0;
  transform: translate(-20%, 0);
  background-color: rgba(251, 251, 251, 0.82);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  transition: 0.3s;
  transform: scaleX(0);
}

.headerButton:hover::after {
  transform: scaleX(1);
  transform-origin: bottom;
}

.Pbody {
  width: 75vw;
  height: 84vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15.3vh;
}
.scroll-animator-box{
  margin-top: 148vh;   
  position: absolute; 
  left: 0; 
  font-size: 10vh; 
  overflow-x: hidden;
} 
 .strong-blue{
  color: #505cfd;
}  
.boxes .strong-blue{
  color: #505cfd;
}  
.boxes{
  height: 100vh; 
  width: 460vw; 
  display: flex; 
  align-items: center; 
  font-family: 'montserrat'; 
  font-weight: 700; 
} 
.box{
  width: 2497px; 
  height: 100vh; 
  
  display: flex; 
  align-items: center;
  color: #404044; 
}
.scroll-span{ 
  margin-right: 20px; 
 
} 
/*background-color: greenyellow; 
  border: blue solid 2px;*/
.spn1{
  width: 950px; 
  margin-left: 20vw;
}    
.spn2{
  width: 800px; 
}   
.spn3{
  background-color: transparent;
}
.spn4{
  position: relative; 
  z-index: 2;  
  margin-left: -470px; 
  margin-top: 115px;
  width: 800px;
} 
.spnA{
  z-index: 2; 
  background-color: rgb(206, 138, 255); 
  padding: 10px; 
  border-radius: 10px; 
  width: 500px; 
  margin-right: 0;
}
.spn5{
  position: absolute; 
  left: 0; 
  top: 0;
  z-index: -1; 
  background-color: #78C1FF; 
  padding: 10px; 
  border-radius: 10px;  
  opacity: 1; 
  width: 500px; 
  transform: rotateZ(180deg) rotateY(180deg); 
  transform-style: preserve-3d;
} 

.spn6{ 
  margin-top: -100px; 
  margin-left: -320px;
  width: 1360px;
}
.spn7{
  margin-left: -150px;; 
  margin-top: 240px; 
  color: #181851db;
}  
.spn8{
  position: relative; 
  
}
.spnB{
  display: inline;
  background-color: rgb(255, 184, 97); 
  padding: 10px;  
  margin: 20px; 
  transform: translateY( 80px); 
  border-radius: 10px; 
  box-shadow: inset 0px 0px 190px -30px white;
}
.box-2{
  width: 3000px;
} 
.spnB.first{
  margin-left: -1280px; 
  background-color: rgb(38, 136, 255); 
}
.spnBB{
  background-color: rgb(252, 255, 82); 
  margin-left: -560px; 
  margin-right: 400px; 
  margin-top: 400px; 
} 
.spnC{ 
  position: absolute;
  margin-top: 588px; 
  left: 3990px; 
  background-color: rgb(38, 136, 255); 
  box-shadow: inset 0px 0px 190px -20px white; 
  border-radius: 10px; 
  padding: 3px;
} 
.spnAnimated{
  box-shadow:  inset 0px 0px 190px -20px white, 5px 5px 0px rgba(0, 0, 0, 0.357)
}
.animate1{
  color: #267dc9;
} 


.side-image {
  height: 60vh;
  position: absolute;
  top: 85vh;
  left: 24vw; 
  box-shadow: 0px 0px 20px -7px rgba(0, 0, 0, 0.71);
}

.US-box {
  position: absolute;
  top: 92vh;
  left: calc(24vw + 60vh/1.908);
  height: 20vw;
  width: calc((60vh/1.508) + 200px);
  font-size: 20px;
  display: flex;
  flex-direction: column;

}

.US-box .text {
  margin-left: calc(24.71vw - 267px); 
  font-family: 'Montserrat', sans-serif; 
}
hr {
  background-color: #267dc9;
  border: none;
  height: 3.3px;
  width: 24.71vw;
  border-radius: 0.4px;
  margin-top: 1vmin;

}
.mini {
  
  color: #888888;
  font-size: 18px;
}

.main {
  font-weight: 600;
  color: #404044;
  font-size: 1.5em;
}


.about-us{ 
  width: 23vw;
  font-size: 17px; 
  margin-top: 4vh;
  line-height: 160%; 
  color:#888888
}

.main-title {
  z-index: 2;
  color: #ffffff;
  font-family: 'montserrat';
  transform: translateX(-50%);
  position: absolute;
  font-weight: bolder;
}

.Bimage {
  width: 100vw;
  position: absolute;
  height: 77.4%;
  top: 0;
  z-index: -1;
}

.mid-title {
  top: 33vh;
  left: 45vw;
  font-size: 10vmin;
}

.mini-title {
  top: 35.4vh;
  left: 28.6vw;
  font-weight: 400;
  font-size: 3.7vmin;
}

.big-title {
  top: 43.4vh;
  left: 50.6vw;
  font-size: 10vmin;
}

.slogan {
  z-index: 2;
  color: white;
  position: absolute;
  left: 26vw;
  display: flex;
  font-family: 'Playfair Display';
  font-size: 3.4vmin;
}

.hline {
  width: 8vw;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.919);
  display: flex;
  transform: translateY(2.2vmin);
  margin-right: 2vw;
}

.layer {
  background-size: 80% 80%;
  background-repeat: no-repeat;
  z-index: 1;
  position: absolute;
  filter: brightness(1.1);
  opacity: 1;
}

.layer::after {
  content: "";
  background-image: url(./assets/image/parallax-item-1-563x532.png);
  background-size: 80% 80%;
  background-repeat: no-repeat;
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  filter: brightness(1.1);
  opacity: 1;
}

.l1 {
  width: 35vw;
  height: 35vw;
  left: 30vw;
  top: 20vh;
}

.l2 {
  width: 4vw;
  height: 4vw;
  left: 23vw;
  top: 21vh;
}

.l2::after {
  transform: rotate(-70deg);
}

.l3 {
  width: 5.7vw;
  height: 5.7vw;
  left: 17vw;
  top: 37vh;
  transform: rotate(-100deg);
}

.l3::after {
  transform: rotate(-100deg);
}

.l4 {
  width: 5.7vw;
  height: 5.7vw;
  left: 33vw;
  top: 17vh;
  transform: rotate(-10deg);
}

.l4::after {
  transform: rotate(-10deg);
}

.l5 {
  width: 15.7vw;
  height: 15.7vw;
  left: 68vw;
  top: 37vh;
  transform: rotate(-70deg);
}

.l5::after {
  transform: rotate(-70deg);
}

.l6 {
  width: 11.7vw;
  height: 11.7vw;
  left: 73vw;
  top: 47vh;
  transform: rotate(-70deg);
}

.l6::after {
  transform: rotate(-70deg);
}

.column-direction {
  flex-direction: column;
}


.text1 {
  height: 38vh;
  width: 48vw;
  position: absolute;
  background-color: #121214b0;
  right: 0;

  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.titulo {
  font-size: 4.4vmin;
  width: 50%;
  margin: 6%;
  margin-top: 3%;
}

.descricao {
  font-size: 2.7vmin;
  margin-left: 10%;
  transform: translateY(-10%);
  width: 77%;
}

.contact-button {
  width: 14%;
  height: 7vh;
  background-color: #4e90db;
  position: absolute;
  bottom: 12%;
  right: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  font-size: 2.4vmin;
  border-radius: 12px;
  box-shadow: -10px 10px 5px rgba(0, 0, 0, 0.524);
  cursor: pointer;
  transition: 0.3s;
  box-sizing: border-box;
  user-select: none;
  transition-property: background-color, color;
}

.contact-button:hover {
  background-color: #121214;
  color: #4e90db;
  border: solid #2f78cb 3px
}

.rodape {
  width: 70vw;
  height: 25vh;
  display: flex;
  margin-top: 10vh;
  position: relative;
}

.bottomlogo {
  height: 10vh;
  margin-top: 2vh;
  margin-left: 2vw;

}

.copyright {
  color: white;
  font-size: 2.1vmin;
  margin: 4vmin;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 5.5vmin;
}

.rodape-column-2 {
  color: white;
  margin: 4vmin;
  margin-left: 17vmin;
  font-size: 2.2vmin;
  font-family: Arial, Helvetica, sans-serif;
}

.logos {
  position: absolute;
  right: 5vw;
  bottom: 2vh;
}

a:hover {
  color: #4e90db;
  cursor: pointer;
}

.titulo-quemSomos {
  font-size: 8vmin;
  color: #2B689C;
  font-weight: bold;
  font-family: 'Lilita One', cursive;
  position: absolute;
  top: -10vmin;
  left: 0;
  margin: 18vmin;
  margin-top: 28vmin;
}

.sub-title {
  font-family: 'Lilita One', Arial;
  font-size: 5vmin;
  color: #2B689C;
  position: absolute;
  top: 0;
  left: 4vmin;
  margin: 18vmin;
  margin-top: 38vmin;
}

.paragraph {
  color: white;
  font-size: 3vmin;
  width: 45vw;
}

.contato-title {
  color: #78C1FF;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  position: absolute;
  top: 15vh;
  font-size: 4vmin;
  transition: 0.4s;
  cursor: pointer;
}

.contato-title:hover {
  color: white;
  text-shadow: rgb(0, 132, 255) 1px 0 10px;
}

.white {
  color: white;
}

.p1 {
  width: 70vw;
  font-size: 3vmin;
  position: absolute;
  left: 0vw;
  transform: translateX(-30%);
  top: 6vh;
}

.contact-box {
  height: 61vh;
  width: 24.7vw;
  background-color: #202024;
  position: absolute;
  right: 8.9vw;
  transform: translateY(7%);
  border-radius: 20px;
  overflow: hidden;
}

input {
  background-color: #141417;
  outline: none;
  border: none;
  height: 9%;
  margin-bottom: 5%;
  width: 72%;
  border-radius: 8px;
  padding-left: 4%;
  box-sizing: border-box;
  color: white;
  font-size: 2vmin;
}

input:first-of-type {
  margin-top: 10%;
}

input:focus {
  border: 2px #78C1FF solid;
  box-sizing: border-box;
}

input:focus::placeholder {
  color: #78C1FF;
}

.mensagem {
  background-color: #141417;
  outline: none;
  border: none;
  height: 27%;
  margin-bottom: 5%;
  width: 73%;
  border-radius: 8px;
  padding-left: 4%;
  padding-top: 10px;
  box-sizing: border-box;
  color: white;
  font-size: 2vmin;
  resize: none;
  margin-bottom: 0%;
}

.mensagem:focus {
  border: 2px #78C1FF solid;
  box-sizing: border-box;
}

.mensagem:focus::placeholder {
  color: #78C1FF;
}

::-webkit-scrollbar {
  width: 0.5vw;
  position: absolute;
}

.mensagem::-webkit-scrollbar-track {
  margin-top: 0vh;
  margin-bottom: 0vh;
  box-shadow: inset 0 0 20px 20px #121214;
}

input::placeholder {
  padding-left: 3%;
}

.mensagem::placeholder {
  padding-left: 4%;
}

.submit-button {
  background-color: #4e90db;
  width: 30.4%;
  cursor: pointer;
  font-size: 170%;
  margin-top: 7%;
  padding-left: 0;
}

.submit-button:focus {
  border: none;
}

.submit-button:active {
  background-color: #202024;
  border: #78C1FF 2px solid;
  color: #78C1FF;
}

.contact-info {
  color: #78C1FF;
  position: relative;
  left: -13vw;
  top: -1vh;
  font-size: 3vmin;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}


.contact-subtitle {
  color: #78C1FF;
  font-weight: 500;
  margin: 3vmin;
  margin-left: 0;
}

.contact-paragraph {
  color: white;
  font-size: 2.7vmin;
  width: 25vw;
  margin: 1vmin;
}

form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-box {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40vh;
  margin-top: 20vh;
  font-size: 3vmin;
  font-family: Arial, Helvetica, sans-serif;
}

.service-box:first-child {
  margin-top: 1vh;
}

.service-title {
  color: #78C1FF;
  font-weight: bolder;
}

.service-desc {
  text-align: justify;
  margin-top: 1%;
  width: 38vw;
  color: white;
}

.waves {
  position: absolute;
  left: 0;
  height: 100%;
  width: 106vw;
  z-index: -1;
}

.wave {
  position: absolute;
}

.rodape .wave {
  top: -19.9vh;
  width: 108vw;
  left: -14.76vw;
  z-index: -1;
}

.w3 {
  transform: translateY(-.5%);
}

.background-blue {
  background-color: #177ed8;
  height: 117%;
  width: 100%;
  position: absolute;
  top: 143.7vh;
  left: 0;
  z-index: -1;
}

.sub .service-title {
  color: white;
}